<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
# Change the path to the dataset file if needed. 
PATH = '../../data/athlete_events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [9]:
pd.DataFrame(data.where(data['Year'] == 1996).groupby('Sex').min(), columns=['Age'])

      Age
Sex
F    12.0
M    14.0

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [49]:
from __future__ import division

year2000 = data['Year'] == 2000
gymnasts = data['Sport'] == "Gymnastics"
male = data['Sex'] == "M"
maleGymnasts = data[year2000 & gymnasts & male].nunique()['ID']
males = data[year2000 & male].nunique()['ID']
print((maleGymnasts/males) * 100)

1.4743882048943608

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [56]:
year2000 = data['Year'] == 2000
female = data['Sex'] == 'F'

basketballPlayers = data['Sport'] == "Basketball"

femaleBballPlayersHeight = data[year2000 & female & basketballPlayers]['Height']

print(femaleBballPlayersHeight.mean())
print(femaleBballPlayersHeight.std())

182.38732394366198
9.139462087892174

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [79]:
year2002 = data['Year'] == 2002
maxWeight = data['Weight'] == data[year2002]['Weight'].max()

data[maxWeight & year2002]['Sport']

99154    Bobsleigh
Name: Sport, dtype: object

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [101]:
paw = data['Name'] == 'Pawe Abratkiewicz'

len(data[paw].groupby('Year')['Year'])

3

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [100]:
year2000 = data['Year'] == 2000
australia = data['Team'] == "Australia"

tennis = data['Sport'] == "Tennis"
silverMedal = data['Medal'] == "Silver"

len(data[year2000 & australia & tennis & silverMedal])

2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [123]:
year2016 = data['Year'] == 2016



data = pd.read_csv(PATH)

switz = data['Team'] == "Switzerland"
switz2016 = data[switz & year2016]
switz2016Medals = len(switz2016['Medal'].dropna())
data = pd.read_csv(PATH)

serbia = data['Team'] == "Serbia"
serbia2016 = data[serbia & year2016]
serbia2016Medals = len(serbia2016['Medal'].dropna())

print('Switzerland Medals: {}'.format(switz2016Medals))
print('Serbia Medals: {}'.format(serbia2016Medals))

Switzerland Medals: 11
Serbia Medals: 54

# __8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly*****

In [138]:
year2014 = data['Year'] == 2014

for age in range(15, 55, 10):
    aboveAgeRange = data['Age'] >= age 
    belowAgeRangePlus10 = data['Age'] < age+10
    ageRange = aboveAgeRange & belowAgeRangePlus10
    print('{}-{}: {}'.format(age, age+10, len(data[year2014 & ageRange])))

15-25: 2027
25-35: 2594
35-45: 265
45-55: 4

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [166]:
data = pd.read_csv(PATH)

summer = data['Season'] == "Summer"
lakePlacid = data['City'] == "Lake Placid"
print(len(data[lakePlacid & summer]))


winter = data['Season'] == "Winter"

sanktMoritz = data['City'] == "Sankt Moritz"

len(data[sanktMoritz & winter])


no, yes

0

1657

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [10]:
data = pd.read_csv(PATH)

year2016 = data['Year'] == 2016
year1995 = data['Year'] == 1995



uniqueSports1995 = data[year1995]['Sport'].unique()
uniqueSports2016 = data[year2016]['Sport'].unique()

print(len(uniqueSports2016))

34